.user-block-wrapper .timer-title {
  height: 60px;
  display: flex;
  align-items: center;
}
.user-block-wrapper .user-body {
  flex-shrink: 0;
}
.user-block-wrapper .user-body.disabled {
  color: #747474;
}
.user-block-wrapper:first-child {
  width: 400px;
  text-align: left;
}
