* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
.App .users-block-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px;
}
.App .button {
  width: 120px;
  height: 50px;
  background-color: #8b0ee5;
  color: #FFF;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.App .button:hover {
  background-color: #9d31ea;
}
.App .button:disabled {
  background-color: #a9a8a9;
}
.App input[type="number"] {
  font-size: 16px;
  width: 80px;
  height: 50px;
  padding-left: 10px;
}
